# Application
NODE_ENV=development
PORT=3000

# Database
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=flight_search

# Provider URLs (for local development)
PROVIDER_A_URL=http://localhost:3001
PROVIDER_B_URL=http://localhost:3002
PROVIDER_C_URL=http://localhost:3003
